## .bazelrc

# All options comming from this file will be announced on the terminal.
common --announce_rc

# If the file `.bazelrc.local`, exists it will be imported.
try-import .bazelrc.local

## C/C++
# Set the C++ standard toolchain
build --cxxopt=-std=c++14
build --host_cxxopt=-std=c++14

## GOLANG

## RUST
# Use Rust's nightly toolchain
#build --@rules_rust//rust/toolchain/channel=nightly

## OTHER
# Add timestamps to message.
common --show_timestamps

# If a command fails, print out the full command line.
build --verbose_failures

# Print the full error of the test that fails.
test --test_output=errors

# Configuration for "stress".
test:stress --runs_per_test=10
test:stress --notest_keep_going

# Enable Bzlmod for every Bazel command
#common --enable_bzlmod



